{% extends "base.html.twig" %}

{% block title %}
	<title>Dashboard</title>
{% endblock %}

{% block content %}
	<a href="?route=invoices/add" class="btn btn-primary">Add new invoices</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Company Name</th>
				<th scope="col">Amount</th>
				<th scope="col">Sending At</th>
				<th scope="col">Paid For</th>
				<th scope="col">Status</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for invoice in invoices %}
				<tr>
					<th scope="row">xxxx</th>
					<td>{{ invoice.amount }}</td>
					<td>{{ invoice.sendingAt }}</td>
					<td>{{ invoice.paidFor }}</td>
					<td>{{ invoice.status }}</td>
					<td>
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
